# Python
__pycache__/
*.pyc

# Environment
.venv/
*.env

# Banco de dados e saídas
articles.db
extracted_data.json

# Configurações locais
api/local.settings.json

spaceapss_agents.egg-info

# Grafos
graphs/
